#root {
  max-width: 1183px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  color: #ea9606;
}

.block {
  display: inline-block;
  font-family: monospace;
  border: 1px #ccc dotted;
  color: #ccc;
  margin: 1px;
  font-size: 1rem;
}

.block p.height {
  margin: 10px;
  padding: 0;
}

.block p.version {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.active {
  border: 1px #ea9606 solid;
  color: #ea9606;
  font-weight: bold;
}
.active:hover {
  color: #ffd690;
  border: 1px #ffd690 solid;
}

.card {
  display: inline-block;
  border: 1px #fff dotted;
  width: 134px;
  margin: 2px;
}

.card-title {
  color: #fff;
}

.card-value {
  color: #ea9606;
  font-weight: bold;
}

.logo > svg {
  max-height: 130px;
  margin: 40px 0;
}
